python-dotenv
openai
PyMuPDF==1.23.8  # fitz is part of PyMuPDF
requests
supabase
tiktoken
fastapi
langchain
langchain-openai
langchain-community
pydantic
sentence-transformers
tavily-python
PyPDF2
python-multipart  # for FastAPI file uploads
uvicorn  # for running FastAPI